<script type='text/javascript'>
$(function() {

   Dashing.gridsterLayout('[{"col":1,"row":8,"size_x":1,"size_y":3},{"col":2,"row":8,"size_x":1,"size_y":3},{"col":1,"row":1,"size_x":2,"size_y":7},{"col":3,"row":1,"size_x":2,"size_y":10}]')

  Dashing.widget_base_dimensions = [320, 66]
  Dashing.numColumns = 4 
});
</script>
<% content_for :title do %>Jenkins Jobs<% end %>

<div class="gridster">
	<ul>
	<li data-row="9" data-col="1" data-sizex="1" data-sizey="3"> 
<div data-id="jenkinsCurrentDockerContainers" data-view="Number" data-title="Containers" data-min="0" data-max="50" style="background-color:#17466c"></div>
	</li>	
	<li data-row="9" data-col="2" data-sizex="1" data-sizey="3"> 	
		<div data-id="jenkinsCurrentWorkers" data-view="Number" data-title="Agents" data-min="0" data-max="20" style="background-color:#172734"></div>
	</li>		
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="7">
	  	<div data-id="jenkinsCurrentJobsList" data-view="Jenkinslist" class="progress" data-title="Jobs in Progress" style="color:black;"></div>
	</li>


	<li data-switcher-interval="120000" data-row="1" data-col="3" data-sizex="2" data-sizey="2" style="overflow: hidden; height: 748px">
                <div data-id="jenkinsCompletedJobsList" data-view="Jenkinslist" class="completed" data-title="Jobs Completed" style="color:black;"></div>
		<div data-id="iframeId1" data-view="Iframe" data-url="https://p.datadoghq.com/sb/79614c1dd-fb16f5fa2c" style="height:9000px"></div>
	</li>

	</ul> 
</div>
